* {
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-weight: 500;
 	font-style: italic;
}

body {
	background-color: #99E1D9;
}

.App {
	padding: 0 5px;
	background-color: #99E1D9;
	color: #917EBC;
	max-width: 400px;
	margin: auto;
}

fieldset {
	padding: 0 !important;
}

h1 {
	font-size: 50px;
	margin: 8px;
}