.pure-button {
  margin: 0 5px 20px 5px;
  width: 90%;
  background-color: #FFFAE3;
  color: #917EBC;
  font-family: 'Timmana', sans-serif;
  font-size: 24px;
  padding-bottom: 5px;
}

#lastButton {
  margin: auto;
}

.pure-button.pure-button-active {
  background-color: #917EBC;
  color: #FFFAE3;
}
