.button-container {
  padding: 0 8px;
}

.pure-button {
  margin-bottom: 20px;
  width: 100%;
  background-color: #FFFAE3;
  color: #917EBC;
  font-family: 'Asap', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
}

#lastButton {
  margin: auto;
}

.pure-button.pure-button-active {
  background-color: #917EBC;
  color: #FFFAE3;
}
